* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --news-card-description-line-heigh: 1.1875rem;

  --dark-blue-color: 18, 24, 38;
  --light-grey-color: 229, 229, 229;
  --border-color-base: var(--light-grey-color);
  --secondary-color-base: var(--dark-blue-color);

  --main-color: rgb(0, 0, 0);
  --secondary-color: rgb(var(--dark-blue-color));
  --accent-color: rgb(255, 214, 117);
  --border-color: rgb(var(--border-color-base));
  --light-color: rgb(255, 255, 255);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* ------------------ HEADER ------------- */
.header {
  background-color: var(--secondary-color);
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
}

.header__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
}

.logo {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-shrink: 0;
  color: var(--accent-color);
  cursor: pointer;
}

.logo-small {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
}

.logo:hover,
.logo-small:hover {
  cursor: pointer;
}

.header__logo {
  margin-right: 28px;
}

.header__navbar {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.category {
  display: flex;
  align-items: center;
  height: 100%;
}

.category__label {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 12px;
  cursor: pointer;
}
.category input[type="radio"]:checked + label {
  background-color: rgba(var(--light-grey-color), 0.2);
}

.category__input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.category__label:hover {
  text-decoration: underline;
}
.category__label:active {
  opacity: 0.6;
}

.navbar__mobile-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: none;
}

.mobile-menu-button__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--light-color);
}

/* ------------------ MOBILE HEADER MENU ------------- */
@media screen and (max-width: 970px) {
  .navbar {
    display: none;
  }

  .navbar_mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(var(--secondary-color-base), 0.75);
    backdrop-filter: blur(14px);
    font-size: 2rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar_mobile .category {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_mobile .category__label {
    width: 50%;
    height: 56px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .mobile-menu-button {
    display: block;
    z-index: 99;
  }

  .mobile-menu-button_active .mobile-menu-button__bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-button_active .mobile-menu-button__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .mobile-menu-button_active .mobile-menu-button__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ------------------ MAIN ------------- */

.main-content {
  padding-top: 56px;
}

.main {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  width: 100%;
}

/* ------ SEARCH FORM ----- */

.news-filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.news-filters label {
  margin-right: 6px;
}

.news-filter__item select {
  all: unset;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 0 8px;
  width: auto;
  font-size: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.news-filter__item {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-bottom: 12px;
  height: 30px;
}

.news-filters__search {
  width: 400px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.news-filter__item select:focus {
  border: 2px solid var(--accent-color);
}

.search__input {
  all: unset;
  padding-left: 8px;
  border-radius: 4px;
  border: none;
  flex: 1;
  font-size: 1rem;
  height: 100%;
}

.search__icon {
  all: unset;
  height: 30px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /* border-left: 1px solid var(--border-color); */
  background: var(--border-color);
}

svg {
  color: #321616;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* TRYING TO REMOVE CLEAR BUTTON OR STYLE IT IN SEARCH INPUT */
input[type="search"]::-webkit-search-cancel-button {
  color: red;
  background-color: blue;
  height: 100px;
  width: 100px;
}
/* TRYING TO REMOVE CLEAR BUTTON OR STYLE IT IN SEARCH INPUT */
.search__input::-webkit-search-cancel-button:after {
  color: magenta;
  color: red;
  background-color: blue;
  height: 100px;
  width: 100px;
}

.news-filters__sort-by_hidden {
  display: none;
}

.news-filters__choose-country {
  width: auto;
}

.main-news__news-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .main-news__news-info {
    flex-direction: column;
    align-items: start;
  }
  .news-info__header {
    margin-bottom: 6px;
  }
}

.news-info__header {
  font-size: 1.625rem;
}

.main-news__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 70px;
  height: 70px;
  margin: -100px 0 0 -45px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid var(--accent-color);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.main-news__loader_notVisible {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.articles {
  display: grid;
  row-gap: 18px;
  column-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 520px;
}

.articles__news-card {
  border: 1px solid var(--border-color);
  padding: 20px 14px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.news-card__header {
  margin-bottom: 14px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  height: 3rem;
  font-weight: 500;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-card__image {
  width: 100%;
  height: 300px;
  object-position: center;
  object-fit: cover;
  margin-bottom: 8px;
  align-self: center;
  background-image: url("/resources/images/no-image-dark.png");
  background-size: cover;
  background-position: center;
}

.news-card__description {
  height: calc(var(--news-card-description-line-heigh) * var(--max-lines));
  font-weight: 300;
  margin-bottom: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-card__link {
  align-self: flex-start;
  padding: 10px 14px;
  background: none;
  border: none;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.news-card__link:hover {
  background-color: rgba(var(--light-grey-color), 0.5);
}

@media screen and (max-width: 1300px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 860px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 620px;
  }
  .news-card__image {
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  .articles {
    grid-auto-rows: 520px;
  }

  .news-card__image {
    height: 300px;
  }
}

/* ------------------ FOOTER ------------- */
.footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--secondary-color);
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  width: 100%;
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.copyright__logo {
  margin-bottom: 4px;
}

.copyright__text {
  font-size: 14px;
  font-weight: 300;
}

.policy__list {
  list-style-type: none;
  display: flex;
}

.policy__list-item {
  padding: 8px 12px;
  text-decoration: underline;
}

.policy__list-item:hover {
  text-decoration: none;
}
.policy__list-item:active {
  opacity: 0.6;
}

/* ------------------ MOBILE FOOTER ------------- */
@media screen and (max-width: 560px) {
  .footer {
    height: 200px;
  }

  .footer__content {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__copyright {
    order: 2;
  }

  .copyright {
    align-items: center;
  }

  .policy__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
